<div class="container">
    <div class="topBar">
        <h2>Coupons List</h2>
        <button type="button" class="add-btn" (click)="openMiniWindow()">Add Coupons</button>
    </div>

    <table class="coupon-table">
        <thead>
            <tr>
                <th>Coupon</th>
                <th>Status</th>
                <th>Type</th>
                <th>Discount Percentage</th>
                <th>Discount Value</th>
                <th>Min Amount to Avail</th>
                <th>Expiration Type</th>
                <th>Expiration Date</th>
                <th>Number of Usages</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let coupon of coupons">
                <td>{{coupon.couponId}}</td>
                <td>{{coupon.status}}</td>
                <td>{{coupon.discountType}}</td>
                <td>{{coupon.discountPercent}}</td>
                <td>{{coupon.discountValue}}</td>
                <td>{{coupon.minAmountToAvail}}</td>
                <td>{{coupon.expirationType}}</td>
                <td>{{coupon.expirationDate | date}}</td>
                <td>{{coupon.expirationTotalUsage}}</td>
                <td class="actions">
                    <button type="button" class="delete-btn" (click)="deleteCoupon(coupon.couponId)">Delete</button>
                    <button type="button" class="disable-btn" (click)="deleteCoupon(coupon.couponId)">Disable</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>