<div class="container">
    <div class="topBar">
        <h2>Coupons List</h2>
        <button type="button" class="add-btn" (click)="openMiniWindow()">Add Coupon</button>
    </div>

    <table class="coupon-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Type</th>
                <th>% Discount</th>
                <th>Value</th>
                <th>Min Amount</th>
                <th>Expire Type</th>
                <th>Expire Date</th>
                <th>Max Allowed Use</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let coupon of coupons">
                <td>{{coupon.couponId}}</td>
                <td>{{coupon.status}}</td>
                <td>{{coupon.discountType}}</td>
                <td>{{coupon.discountPercent}}</td>
                <td>{{coupon.discountValue}}</td>
                <td>{{coupon.minAmountToAvail}}</td>
                <td>{{coupon.expirationType}}</td>
                <td>{{coupon.expirationDate | date}}</td>
                <td>{{coupon.expirationTotalUsage}}</td>
                <td class="actions">
                    <button type="button" class="action-btn delete-btn" (click)="deleteCoupon(coupon.couponId)">Delete</button>
                    <button *ngIf="coupon.status === 'ACTIVE'" type="button" class="action-btn disable-btn" (click)="changeCouponStatus(coupon.couponId, coupon)">Disable</button>
                    <button *ngIf="coupon.status === 'EXPIRED'" type="button" class="action-btn activate-btn" (click)="changeCouponStatus(coupon.couponId, coupon)">Activate</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>