<nav>
    <ul>
      <li><a routerLink="dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="category" routerLinkActive="active">Categories</a></li>
      <li><a routerLink="users" routerLinkActive="active">Users</a></li>
      <li><a routerLink="products" routerLinkActive="active">Products</a></li>
      <li><a routerLink="orders" routerLinkActive="active">Orders</a></li>
      <li><a routerLink="coupons" routerLinkActive="active">Offers & Coupons</a></li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </nav>