<div class="orders-container">
    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Email</th>
          <th>Address</th>
          <th>Amount</th>
          <th>Order Date</th>
          <th>Order Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.orderId }}</td>
          <td>{{ order.email }}</td>
          <td>{{ order.address }}</td>
          <td>{{ order.amount }}</td>
          <td>{{ order.orderDate | date:'short' }}</td>
          <td>{{ order.orderStatus }}</td>
        </tr>
      </tbody>
    </table>
  </div>