<div class="container">
    <div class="logo">
        <img src="../../../assests/Ecommerce Background.jpg" alt="">
    </div>
    <div class="links">
        <li> <a routerLink="home" routerLinkActive="active">Home</a> </li>
        <li> <a routerLink="Category" routerLinkActive="active">Category</a> </li>
        <li> <a routerLink="myWishlist" routerLinkActive="active">Wishlist</a>  </li>
        <li> <a routerLink="myOrders" routerLinkActive="active"> My Orders</a></li>
    </div>
    <div class="contacts">
       
    </div>
</div>
<div class="copyrights">
    <p> &copy; 2024 - Abhinandan Jain Ecommerce . All CopyRights Reserved</p>
</div>
