<div class="box">
    <div class="container">
        <h2>Sign Up</h2>

        <form [formGroup]="registerUserForm" (ngSubmit)="onSubmit()">
            <label for="name">Name <span class="text-danger">*</span></label>
            <input type="text" placeholder="name" formControlName="name">

            <label for="email">Email <span class="text-danger">*</span></label>
            <input type="email" placeholder="email" formControlName="email">

            <label for="mobileNumber"> Mobile Number<span class="text-danger">*</span></label>
            <input type="number" placeholder="mobileNumber" formControlName="mobileNumber">

            <label for="password">Password <span class="text-danger">*</span></label>
            <input type="password" placeholder="password" formControlName="password">

            <label for="confirmPassword">Confirm Password <span class="text-danger">*</span></label>
            <label class="text-danger" *ngIf="passwordEquality">* Passwords must be the same</label>
            <input type="password" placeholder="confirmPassword" formControlName="confirmPassword" (input)="onPasswordType()">
            

            <button type="submit">Register</button>

            <label class="switch" for="c_password">Already have an account? <a [routerLink]="['/login']">Log In</a></label>
        </form>
    </div>
</div>