<div class="container">
  <div class="topBar">
    <h2>Add Product</h2>
    <button type="button" mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <form [formGroup]="productForm" (ngSubmit)="add()">
    <div class="file-upload-container">
      <label class="file-upload-label">
        <mat-icon>attach_file</mat-icon>
        Select A File
        <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden>
      </label>

      <div *ngIf="selectedFile" class="image-preview">
        <div class="circle-image">
          <img [src]="imagePreview" alt="Selected-Image" class="preview-image">
        </div>
      </div>
    </div>

    <div class="form-field">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Select A Category</mat-label>
        <mat-select formControlName="categoryId" name="categoryId">
          <mat-option *ngFor="let category of Categories" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="productForm.get('categoryId')?.hasError('required')">This is required!</mat-error>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name" formControlName="productName" />
        <mat-error *ngIf="productForm.get('productName')?.hasError('required')">This is required!</mat-error>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Price</mat-label>
        <input matInput type="number" placeholder="Price" formControlName="price" />
        <mat-error *ngIf="productForm.get('price')?.hasError('required')">This is required!</mat-error>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Description" formControlName="description"></textarea>
        <mat-error *ngIf="productForm.get('description')?.hasError('required')">This is required!</mat-error>
      </mat-form-field>
    </div>

    <div class="form-field">
      <button mat-raised-button color="primary" type="submit">Add Product</button>
    </div>
  </form>
</div>