<div class="container">
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Email</td>
          <td>Mobile Number</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.mobileNumber }}</td>
          <td class="actions">
            <button type="button" [disabled]="user.accountStatus !== 'ACTIVE'" class="suspension" (click)="updateAccountStatus(user)">Suspend</button>
            <button type="button" [disabled]="user.accountStatus !== 'BLOCKED'" class="activation" (click)="updateAccountStatus(user)">Activate</button>
            <button type="button" (click)="deleteUser(user.email)" class="deletion">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>